.aboutBlock {
    display: flex;
    justify-content: space-between;
    margin: 10px 70px;
    color: rgba(0, 140, 255, 0.966);
    font-family: 'Raleway', sans-serif;
    background-color: white;
    border-radius: 5px;
    padding: 15px;
}

.dummyBlock {
    width: 500px;
}

.aboutInfo {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 10px;
}

.aboutInfo h2 {
    margin-bottom: -5px;
    font-size: 1.2em;
    color: black;
    letter-spacing: 1.5px;
}

.aboutInfo h1 {
    margin-bottom: -2px;
}

.aboutInfo p {
    letter-spacing: 1.2px;
    line-height: 25px;
    font-size: 0.9em;
    color: #777;
}

.aboutBlock img {
    width: 350px;
}