.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 70px;
    font-family: 'Raleway', sans-serif;
    color: white;

}

.navbar h1 {
    letter-spacing: 3px;
    font-size: 1.5em;
}

.links {
    display: flex;
    width: 60%;
    justify-content: space-evenly;
}

.links a {
    color: white;
    text-decoration: none;
    font-size: 1.0em;
    transition: 0.5s;
}

.links .selected {
    color: rgba(142, 223, 255, 0.849);
    transition: 0.5s;
}


.homeBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    text-align: left;
    margin: 50px 70px 0 70px;
    width: 50%;
    color: white;
    font-family: 'Raleway', sans-serif;
}

.homeBlock button {
    padding: 8px;
    font-size: 1.9em;
    font-weight: bold;
    background-color: white;
    color: rgba(0, 140, 255, 0.76);
    letter-spacing: 2px;
    border-radius: 4px;
    border: none;
    width: 120px;
}

.homeBlock h2 {
    font-size: 2.7em;
    font-weight: bold;
}

.homeBlock p {
    margin-top: -10px;
    letter-spacing: 2px;
    font-weight: bold;
    line-height: 28px;
}