.skillsBlock {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 5px 70px;
    color: rgba(0, 140, 255, 0.966);
    font-family: 'Raleway', sans-serif;
    background-color: white;
    border-radius: 5px;
    padding: 15px;
}

.skillsBlock button {
    border: none;
    background: none;
}

.skillsBlock button:focus {
    outline: 0;
}

.skillsBlock svg {
    width: 40px;
}

.skillsBlock img {
    width: 40px;
}

.skill {
    display: block;
    font-size: 1.3em;
    color: rgba(58, 58, 58, 0.356);
    letter-spacing: 2px;
    margin-top: -10px;
    margin-bottom: 5px;
    transition: 1s;
    display: block;
    height: 15px;
}

.managerialBlocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: rgba(0, 140, 255, 0.966);
    font-family: 'Raleway', sans-serif;
    background-color: white;
    padding: 15px;
}

.mBlock {
    margin: 10px;
    height: 225px;
    width: 225px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: solid purple 3px;
}