.skillsBlock {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 5px 70px;
    color: rgba(0, 140, 255, 0.966);
    font-family: 'Raleway', sans-serif;
    border-radius: 5px;
    padding: 15px;
}

.skillsBlock button {
    border: none;
    background: none;
}

.skillsBlock button:focus {
    outline: 0;
}

.skillsBlock svg {
    width: 40px;
}

.skillsBlock img {
    width: 40px;
}

.skill {
    display: block;
    font-size: 0.9em;
    color: rgba(7, 94, 255, 0.356);
    letter-spacing: 3px;
    margin-top: -10px;
    margin-bottom: 5px;
    transition: 1s;
    display: block;
    height: 15px;
}

.managerialBlocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: rgba(0, 140, 255, 0.966);
    font-family: 'Raleway', sans-serif;
    padding: 15px;
}

.mBlock {
    margin: 10px;
    height: 225px;
    width: 225px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border-radius: 3px;
    transition: 0.5s;
    border: rgba(0, 140, 255, 0.966) 1px solid;
}

.mBlock:hover {
    border-bottom: rgba(0, 140, 255, 0.966) 5px solid;
    transform: translate(0px, -5px);
    transition: 0.5s;
}

.mBlock i {
    font-size: 1.8em;
}

.mBlock h3 {
    color: rgba(0, 0, 0, 0.897);
}