@import url('https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap');

.workPage {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
    margin: 5px 70px;
    color: rgba(0, 140, 255, 0.966);
    font-family: 'Raleway', sans-serif;
    border-radius: 5px;
    padding: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}


.mainBlock {
    position: relative;
}

.projectImg {
  opacity: 1;
  display: block;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.hoverBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
 }

.mainBlock:hover .projectImg {
   opacity: 0.3;
}

.mainBlock:hover .hoverBlock {
   opacity: 1;
}

.fa-arrow-circle-right {
    font-size: 3em;
    color: white;
}

.projectTitle {
    color: rgba(255, 255, 255, 0.966);
    font-size: 2.5em;
    margin-bottom: -20px;
}

.projectDesc {
    color: rgba(255, 255, 255, 0.856);
    font-size: 1.5em;
}