.workPage {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-evenly;
    margin: 5px 70px;
    color: rgba(0, 140, 255, 0.966);
    font-family: 'Raleway', sans-serif;
    border-radius: 5px;
    padding: 15px;
}


.mainBlock {
    position: relative;
}

.hoverBlock {
    position: absolute;
    opacity: 0;
    display: flex;
    flex-direction: column;
    top: 15px;
    left: 15px; 
    bottom: 20px;
    right: 15px;
    padding: 5px;
    transition: 1s;
    background-color: rgba(255, 255, 255, 0.788);
    border: solid red 2px;
    transition: 1s;
 }

.fa-arrow-circle-right {
    font-size: 2.5em;
    margin-top: 80px;
    margin-left: 175px;
}

.projectTitle {
    color: rgba(0, 140, 255, 0.966);
    margin-left: 20px;
    margin-top: 15px;
    font-size: 0.9em;
    text-align: left;
}

.projectDesc {
    color: rgba(0, 0, 0, 0.5);
    margin-top: -5px;
    margin-left: 20px;
    text-align: left;
    font-size: 1.0em;
}