@import url('https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap');


.skillsBlock {
    border-top: 3px solid rgba(0, 140, 255, 0.116);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: -10px;
    color: rgba(0, 0, 0, 0.733);
    font-size: 2.7em;
    font-family: 'Poppins', sans-serif;
    background-color: rgba(255, 255, 255, 0.603);
    padding: 10px 40px;
    height: 63px;
    margin-bottom: 0px;
}

.skillsBlock button {
    border: none;
    background: none;
}

.skillsBlock button:focus {
    outline: 0;
}

.skillsBlock svg {
    width: 40px;
    transition: 0.5s;
}

.skillsBlock img {
    width: 40px;
    transition: 0.5s;
}

.skillsBlock svg:hover {
    width: 60px;
}

.skillsBlock img:hover {
    width: 60px;
}

.skill {
    display: block;
    font-size: 1em;
    color: rgba(7, 94, 255, 0.493);
    letter-spacing: 3px;
    margin-top: 10px;
    margin-bottom: 5px;
    transition: 1s;
    display: block;
    height: 15px;
    font-family: 'Poppins', sans-serif;
}

.tech {
    color: rgba(0, 132, 255, 0.137);
}

.managerialBlocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: rgba(0, 140, 255, 0.966);
    font-family: 'Raleway', sans-serif;
    padding: 15px;
    margin-top: -10px;
}

.mBlock {
    margin: 10px;
    height: 300px;
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border-radius: 3px;
    transition: 0.5s;
    border: rgba(0, 140, 255, 0.966) 1px solid;
}

.mBlock:hover {
    border-bottom: rgba(0, 140, 255, 0.966) 5px solid;
    transform: translate(0px, -5px);
    transition: 0.5s;
    color: rgba(0, 140, 255, 0.966);
}


.mBlock i {
    font-size: 1.8em;
}

.mBlock h3 {
    color: rgba(0, 0, 0, 0.897);
    margin-bottom: -3px;
    transition: 0.5s;
}

.mBlock:hover h3 {
    color: rgba(0, 140, 255, 0.966);
}

.mBlock p {
    padding-left: 13px;
    padding-right: 13px;
    font-size: 0.9em;
    line-height: 25px;
    color: rgba(10, 8, 8, 0.651);
}

.emptyBorderSkills {
    margin: 0 auto;
    width: 50px;
    border-top: rgba(0, 140, 255, 0.966) solid 4px;
}

/* MOBILE */
@media (max-width: 575px) {
    .skillsBlock {
        margin-top: 10px;
    }
    
    .skill {
        margin-top: 50px;
    }

    .emptyBorderSkills {
       display: none;
    }
}