@import url("https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap");

.workPage {
  display: flex;
  flex-wrap: wrap;
  margin: 25px auto;
  justify-content: center;
  align-items: flex-start;
  color: rgba(0, 140, 255, 0.966);
  font-family: "Raleway", sans-serif;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  width: 70%;
}

.mainBlock {
  position: relative;
}

.projectsHeader {
  display: block;
  margin-top: -10px;
  color: rgba(0, 0, 0, 0.733);
  font-size: 2.7em;
  font-family: "Poppins", sans-serif;
  background-color: rgba(255, 255, 255, 0.603);
  padding: 10px;
  margin-bottom: 0px;
  border-top: 3px solid rgba(0, 140, 255, 0.089);
}

.projectsHeader:focus {
  outline: 0;
}

.emptyBorder {
  width: 30px;
  margin: 0 auto;
  border-top: rgba(0, 140, 255, 0.966) solid 4px;
}

.projectImg {
  opacity: 1;
  display: block;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
  width: 340px;
  transition: 1s;
}

.hoverBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}

.mainBlock:hover .projectImg {
  opacity: 0.3;
}

.mainBlock:hover .hoverBlock {
  opacity: 1;
}

.fa-arrow-circle-right {
  font-size: 3em;
  color: white;
}

.projectTitle {
  color: rgba(255, 255, 255, 0.966);
  font-size: 2.5em;
  margin-bottom: -20px;
}

.projectDesc {
  color: rgba(255, 255, 255, 0.856);
  font-size: 1.5em;
}

/* MOBILE PAGE */

@media (max-width: 575px) {
  .projectsHeader {
    margin-top: 10px;
  }
}

/* */

@media (min-width: 1600px) {
  .projectImg {
    width: 450px;
  }
}
/* */

@media (max-width: 1260px) {
  .projectImg {
    width: 275px;
  }
}

iframe {
  margin: 25px auto;
  border: solid 2px rgba(81, 185, 245, 0.603);
  border-radius: 5px;
}

@media (max-width: 575px) {
  iframe {
    width: 300px;
    border: none;
  }
}

.allWork {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-right: 15px;
  z-index: 1;
  margin: 35px 0;

  .modal {
    position: fixed; /* Stay in place */
    z-index: 0; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    transition: 0.5s;
    opacity: 0.7;
    background-color: black;
  }
  .imgBlock {
    border-radius: 5px;
    position: relative;
    margin: 15px;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
      0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
      0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
      0 100px 80px rgba(0, 0, 0, 0.12);
    cursor: pointer;

    .pieceInfo {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: -5px;

      .workTitle {
        font-size: 0.85em;
        margin: 0;
        letter-spacing: 1.2px;
      }

      .workDesc {
        display: block;
        white-space: wrap;
        margin-top: 10px;
        font-size: 0.6em;
        letter-spacing: 1.1px;
        width: 250px;
      }
    }

    img {
      border-radius: 5px;
      display: block;
      height: auto;
    }

    .overlay {
      position: absolute;
      bottom: 0;
      left: 100%;
      right: 0;
      overflow: hidden;
      width: 0;
      height: 100%;
      transition: 0.5s ease;
      border-radius: 5px;
      opacity: 0.9;

      .website {
        position: absolute;
        top: 9px;
        left: 9px;
        background: none;
        cursor: pointer;
        outline: none;
        border: none;
        i {
          color: white;
          font-size: 1.5em;
        }
      }

      .github {
        position: absolute;
        top: 9px;
        right: 9px;
        background: none;
        cursor: pointer;
        outline: none;
        border: none;
        i {
          color: white;
          font-size: 1.5em;
        }
      }

      .frameworks {
        position: absolute;
        display: flex;
        align-items: center;
        background: white;
        width: 100%;
        padding: 3;
        bottom: 0;
        justify-content: center;

        .frameworksTitle {
          font-size: 0.7em;
          color: black;
          font-weight: bold;
        }

        h6 {
          color: black;
          font-size: 0.6em;
          margin: 0 5px;
        }
      }
    }

    .pieceInfo {
      color: white;
      font-size: 20px;
      position: absolute;
      overflow: hidden;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
    }
  }

  .imgBlock:hover {
    .overlay {
      width: 100%;
      left: 0;
    }
  }
}
