@import url('https://fonts.googleapis.com/css?family=Quantico|Raleway&display=swap');


/* Fonts
font-family: 'Quantico', sans-serif;
font-family: 'Raleway', sans-serif;
*/ 


.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.position-absolute {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto
}

.w-100 {
  width: 100%;
}
